<form action='/output' method="POST">
    <!--<select name="state" id="state">
        <option value="HIMACHAL PRADESH">HIMACHAL PRADESH</option>
        <option value="ODISHA">ODISHA</option>
        <option value="PUNJAB">PUNJAB</option>
        <option value="TAMIL NADU">TAMIL NADU</option>
        <option value="MANIPUR">MANIPUR</option>
        <option value="CHANDIGARH">CHANDIGARH</option>
        <option value="TRIPURA">TRIPURA</option>
        <option value="ANDAMAN & NICOBAR ISLANDS">ANDAMAN & NICOBAR ISLANDS</option>
        <option value="MIZORAM">MIZORAM</option>
        <option value="LAKSHADWEEP">LAKSHADWEEP</option>
        <option value="HARYANA">HARYANA</option>
        <option value="ASSAM">ASSAM</option>
        <option value="SIKKIM">SIKKIM</option>
        <option value="RAJASTHAN">RAJASTHAN</option>
        <option value="ANDHRA PRADESH">ANDHRA PRADESH</option>
        <option value="DADAR & NAGAR HAVELI">DADAR & NAGAR HAVELI</option>
        <option value="MADHYA PRADESH">MADHYA PRADESH</option>
        <option value="MAHARASHTRA">MAHARASHTRA</option>
        <option value="PUDUCHERRY">PUDUCHERRY</option>
        <option value="UTTARAKHAND">UTTARAKHAND</option>
        <option value="NAGALAND">NAGALAND</option>
        <option value="GOA">GOA</option>
        <option value="GUJARAT">GUJARAT</option>
        <option value="DELHI">DELHI</option>
        <option value="UTTAR PRADESH">UTTAR PRADESH</option>
        <option value="DAMAN & DIU">DAMAN & DIU</option>
        <option value="WEST BENGAL">WEST BENGAL</option>
        <option value="MEGHALAYA">MEGHALAYA</option>
        <option value="KARNATAKA">KARNATAKA</option>
        <option value="CHHATTISGARH">CHHATTISGARH</option>
        <option value="ARUNACHAL PRADESH">ARUNACHAL PRADESH</option>
        <option value="BIHAR">BIHAR</option>
        <option value="JAMMU & KASHMIR">JAMMU & KASHMIR</option>
        <option value="KERALA">KERALA</option>
        <option value="JHARKHAND">JHARKHAND</option>
    </select>-->
    <select name="year" id="year">
        <option value="2008">2008</option>
        <option value="2012">2012</option>
        <option value="2010">2010</option>
        <option value="2006">2006</option>
        <option value="2002">2002</option>
        <option value="2004">2004</option>
        <option value="2003">2003</option>
        <option value="2011">2011</option>
        <option value="2009">2009</option>
        <option value="2001">2001</option>
        <option value="2007">2007</option>
        <option value="2005">2005</option>
    </select>
    <select name="gender" id="gender">
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
    </select>
    <select name="age" id="age">
        <option value="Below 18">Below 18</option>
        <option value="Above 60">Above 60</option>
        <option value="18 to 60">18 to 60</option>
    </select>
    <select name="crime" id="crime">
        <option value="4">MURDER</option>
        <option value="5">ROBBERY</option>
        <option value="6">KIDNAPP</option>
        <option value="7">FRAUD</option>
        <option value="8">VIOLENCE</option>
    </select>
    <button type="submit" value="submit">Predict Probability</button>
</form>